<!DOCTYPE html>
<html>
<head>
    <title>VIN Intake Form</title>
</head>
<body>
    <h2>VIN Intake Form</h2>
    <form method="POST">
        VIN: <input type="text" name="vin" required><br><br>

        Aluminum Rims: <input type="checkbox" name="aluminum"><br>
        Steel Rims: <input type="checkbox" name="steel"><br><br>

        Refrigerant Present:
        <input type="radio" name="refrigerant" value="Yes" required> Yes
        <input type="radio" name="refrigerant" value="No" required> No<br><br>

        Converter Quantity: <input type="number" name="converter_qty" min="0"><br><br>

        <input type="submit" value="Submit">
    </form>
</body>
</html>
