<!DOCTYPE html>
<html>
<head>
   <title>Vehicle Processing Form</title>
</head>
<body>
   <h1>Vehicle Processing Form</h1>
   <form method="POST">
       VIN Number: <input type="text" name="vin"><br>
       Year: {{ decoded.year }}<br>
       Make: {{ decoded.make }}<br>
       Model: {{ decoded.model }}<br>
       Engine Size: {{ decoded.engine }}<br>
       Drivetrain: {{ decoded.drivetrain }}<br>
       <br>
       Aluminum Rims: <input type="checkbox" name="aluminum_rims"><br>
       Steel Rims: <input type="checkbox" name="steel_rims"><br>
       Refrigerant Present: <input type="checkbox" name="refrigerant"><br>
       Converter Quantity: <input type="number" name="converters"><br>
       <br>
       <input type="submit" value="Submit">
   </form>
</body>
</html>
